# EDA Notes

A first attempt at EDA for the CS109 final project.

In [2]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import sklearn.metrics as metrics
from sklearn.model_selection import cross_val_score
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.linear_model import LogisticRegressionCV
%matplotlib inline

**Read In Data**

In [3]:
checkin = pd.read_csv('Data/checkin_summary.csv')
photos = pd.read_csv('Data/photos_summary.csv')
review = pd.read_csv('Data/review_small.csv')
biz = pd.read_csv('Data/small_businesses.csv')
tips = pd.read_csv('Data/tip_summary.csv')

/Users/maiawoluchem/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1,10,12,14,20,63,64,74) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
#Explore data in its current state

In [4]:
checkin.shape, photos.shape, review.shape, biz.shape, tips.shape

((49413, 2), (26383, 2), (2927858, 4), (38668, 93), (558978, 3))

In [9]:
checkin.head()

   --6MefnULPED_I942VcFNA   122
0  --9e1ONYQuAa-CB_Rrw7Tw  2469
1  --DaPTJW3-tB1vP-PfdTEg    88
2  --FBCX-N37CMYDfs790Bnw   477
3  --GM_ORV2cYS-h38DSaCLw    13
4  --I7YYLada0tSLkORTHb5Q    81

In [10]:
photos.head()

   --6MefnULPED_I942VcFNA    1
0  --9e1ONYQuAa-CB_Rrw7Tw  127
1  --DaPTJW3-tB1vP-PfdTEg    1
2  --FBCX-N37CMYDfs790Bnw    4
3  --KCl2FvVQpvjzmZSPyviA    3
4  --Ni3oJ4VOqfOEu7Sj2Vzg    7

In [11]:
review.head()

   V2exkc2JwEdc8UNUNhT7sg  --6MefnULPED_I942VcFNA  5  2016-08-25
0  j97y1ZAsYABIOcR0KQCy5Q  --6MefnULPED_I942VcFNA  1  2010-12-06
1  8-KBKMJVO-j5YqpHb08j9w  --6MefnULPED_I942VcFNA  4  2015-08-05
2  CxDOIDnH8gp9KXzpBHJYXw  --6MefnULPED_I942VcFNA  2  2010-12-22
3  7Dykd1HolQx8mKPYhYDYSg  --6MefnULPED_I942VcFNA  2  2017-02-07
4  mcq1qdkjI7M-E1BXeFXstg  --6MefnULPED_I942VcFNA  4  2014-08-15

In [12]:
biz.head()

,attributes.Ambience.divey,attributes.HairSpecializesIn.kids,attributes.RestaurantsDelivery,attributes.Open24Hours,attributes.Ambience.trendy,attributes.DogsAllowed,attributes.CoatCheck,postal_code,attributes.Smoking,attributes.DietaryRestrictions.halal,...,attributes.RestaurantsReservations,attributes.DietaryRestrictions.dairy-free,attributes.BestNights.wednesday,attributes.DietaryRestrictions.vegan,attributes.Ambience.romantic,attributes.Music.jukebox,attributes.Ambience.upscale,attributes.RestaurantsTakeOut,attributes.BikeParking,attributes.OutdoorSeating
0,False,NaN,False,NaN,False,NaN,False,28105,NaN,NaN,...,False,NaN,NaN,NaN,False,False,False,True,True,False
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28164,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2,True,NaN,False,NaN,False,NaN,NaN,15224,NaN,NaN,...,False,NaN,NaN,NaN,False,NaN,False,True,True,False
3,NaN,NaN,False,NaN,NaN,NaN,NaN,L5W 0E6,NaN,NaN,...,True,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,True
4,False,NaN,False,NaN,False,NaN,NaN,53704,NaN,NaN,...,True,NaN,NaN,NaN,False,NaN,False,True,True,False

In [14]:
biz.dtypes

attributes.Ambience.divey                        object
attributes.HairSpecializesIn.kids                object
attributes.RestaurantsDelivery                   object
attributes.Open24Hours                           object
attributes.Ambience.trendy                       object
attributes.DogsAllowed                           object
attributes.CoatCheck                             object
postal_code                                      object
attributes.Smoking                               object
attributes.DietaryRestrictions.halal             object
attributes.HairSpecializesIn.straightperms       object
city                                             object
attributes.HairSpecializesIn.curly               object
attributes.Music.no_music                        object
attributes.HairSpecializesIn.coloring            object
attributes.GoodForKids                           object
attributes.BestNights.sunday                     object
attributes.BYOB                                  object
attributes.Ambience.casual                       object
attributes.AgesAllowed                           object
attributes.HairSpecializesIn.africanamerican     object
stars                                           float64
latitude                                        float64
attributes.Alcohol                               object
attributes.RestaurantsPriceRange2               float64
attributes.Ambience.classy                       object
attributes.RestaurantsTableService               object
attributes.GoodForMeal.latenight                 object
attributes.DietaryRestrictions.kosher            object
attributes.GoodForMeal.dessert                   object
                                                 ...
attributes.HairSpecializesIn.perms               object
attributes.HairSpecializesIn.extensions          object
attributes.BestNights.saturday                   object
state                                            object
attributes.BestNights.thursday                   object
attributes.BusinessParking.lot                   object
attributes.DriveThru                             object
attributes.HasTV                                 object
attributes.BestNights.monday                     object
attributes.GoodForMeal.dinner                    object
attributes.BYOBCorkage                           object
attributes.HairSpecializesIn.asian               object
business_id                                      object
attributes.BusinessParking.street                object
attributes.RestaurantsAttire                     object
attributes.BestNights.tuesday                    object
attributes.GoodForDancing                        object
attributes.ByAppointmentOnly                     object
attributes.Caters                                object
attributes.AcceptsInsurance                      object
attributes.RestaurantsReservations               object
attributes.DietaryRestrictions.dairy-free        object
attributes.BestNights.wednesday                  object
attributes.DietaryRestrictions.vegan             object
attributes.Ambience.romantic                     object
attributes.Music.jukebox                         object
attributes.Ambience.upscale                      object
attributes.RestaurantsTakeOut                    object
attributes.BikeParking                           object
attributes.OutdoorSeating                        object
Length: 93, dtype: object

In [13]:
tips.head()

   (---1lKK3aKOuomHnwAkAow  0zoXYHq82haayMaV952jEQ)  1
0  (---1lKK3aKOuomHnwAkAow  A0X1baHPgw9IiBRivu0G9g)  2
1  (---1lKK3aKOuomHnwAkAow  Qy_tDaVTWlS14fEglzo1Tg)  1
2  (---1lKK3aKOuomHnwAkAow  RRw9I8pHt5PzgYGT2QeODw)  1
3  (---1lKK3aKOuomHnwAkAow  Xspg78dOvuedvuPEUwZBjw)  1
4  (---1lKK3aKOuomHnwAkAow  YCEZLECK9IToE8Mysorbhw)  1

In [ ]:
"""
Based on this knowledge, the following EDA steps may be necessary:

1. Label column headers - 
    a. Check-ins: Review_ID, # of Check-ins
    b. Photos: Review_ID, # of Photos
    c. Review: Review_ID?, Business_ID?, Stars, Date (of the review?)
    d. Biz: Use column headers from dataset
    e. Tips: Business_ID, User_ID, # of tips?
    
    Questions that arise:
    - We have a wide range in the number of records across sets. Is it because 
    of the number of businesses, number of users, or both? We should confirm
    the population of each set and make sure we're clear on that in this EDA.
    
2. Merge datasets - 
    a. It may be easiest to work with one large dataset that is at the user-level
    that contains all of the information that we need. If so, the following pieces
    may be necessary:
    b. Determine what level we should be working at - user, review, or business
        i. Seems like we should be at the user-level, in which case, will we have 
        multiple duplicates for the users depending on how many reviews we have?
    c. Merge depending on level determined.
    
    Questions that arise:
    - 
    
3. Basic cleaning - 
    a. Do we have duplicates in any of these datasets? If so, why?
    b. Missing values - 
        i. Due to that merging, we should have missing values in some users
        ii. Figure out a strategy for dealing with those missing values. 
    
4. Do basic EDA - 

    a. How many unique users? Businesses? Reviews? 
    b. User behavior - 
        i. What do the most and least active users look like? Are they enthusiastic?
            Do they travel? 
        ii. Do a user's reviews tend to favor a particular style of restaurant 
            (is there a clustering of taste inherent in the data already)?
        iii. What do reviews look like? Are there certain variables that are 
            are always missing? 
    
    Questions that arise:
        - Do we have enough information about folks to adequately make these predictions?
            What else might we need to impute?