# EDA Notes

A first attempt at EDA for the CS109 final project.

In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import sklearn.metrics as metrics
from sklearn.model_selection import cross_val_score
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.linear_model import LogisticRegressionCV
%matplotlib inline

**Read In Data**

In [12]:
checkins = pd.read_csv('Data/checkin_summary.csv', header=None)
photos = pd.read_csv('Data/photos_summary.csv', header=None)
reviews = pd.read_csv('Data/review_small.csv', header=None)
biz = pd.read_csv('Data/small_businesses.csv')
tips = pd.read_csv('Data/tip_summary.csv', header=None)

/Users/maiawoluchem/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1,10,12,14,20,63,64,74) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
#Explore data in its current state

In [14]:
checkins.shape, photos.shape, reviews.shape, biz.shape, tips.shape

((49414, 2), (26384, 2), (2927859, 4), (38668, 93), (558979, 3))

In [15]:
checkins.columns = ['user_id', 'num_checkins'] 
checkins.head()

                  user_id  num_checkins
0  --6MefnULPED_I942VcFNA           122
1  --9e1ONYQuAa-CB_Rrw7Tw          2469
2  --DaPTJW3-tB1vP-PfdTEg            88
3  --FBCX-N37CMYDfs790Bnw           477
4  --GM_ORV2cYS-h38DSaCLw            13

In [16]:
photos.columns = ['user_id', 'num_photos'] 
photos.head()

                  user_id  num_photos
0  --6MefnULPED_I942VcFNA           1
1  --9e1ONYQuAa-CB_Rrw7Tw         127
2  --DaPTJW3-tB1vP-PfdTEg           1
3  --FBCX-N37CMYDfs790Bnw           4
4  --KCl2FvVQpvjzmZSPyviA           3

In [45]:
reviews.columns = ['business_id', 'user_id', 'rating', 'date'] 
reviews.head()

              business_id                 user_id  rating        date
0  V2exkc2JwEdc8UNUNhT7sg  --6MefnULPED_I942VcFNA       5  2016-08-25
1  j97y1ZAsYABIOcR0KQCy5Q  --6MefnULPED_I942VcFNA       1  2010-12-06
2  8-KBKMJVO-j5YqpHb08j9w  --6MefnULPED_I942VcFNA       4  2015-08-05
3  CxDOIDnH8gp9KXzpBHJYXw  --6MefnULPED_I942VcFNA       2  2010-12-22
4  7Dykd1HolQx8mKPYhYDYSg  --6MefnULPED_I942VcFNA       2  2017-02-07

In [22]:
#biz.rename(columns = lambda x : str(x)[:11])
biz.columns=biz.columns.str.replace('attributes.','')
biz.head()

,Ambience.divey,HairSpecializesIn.kids,RestaurantsDelivery,Open24Hours,Ambience.trendy,DogsAllowed,CoatCheck,postal_code,Smoking,DietaryRestrictions.halal,...,RestaurantsReservations,DietaryRestrictions.dairy-free,BestNights.wednesday,DietaryRestrictions.vegan,Ambience.romantic,Music.jukebox,Ambience.upscale,RestaurantsTakeOut,BikeParking,OutdoorSeating
0,False,NaN,False,NaN,False,NaN,False,28105,NaN,NaN,...,False,NaN,NaN,NaN,False,False,False,True,True,False
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28164,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False
2,True,NaN,False,NaN,False,NaN,NaN,15224,NaN,NaN,...,False,NaN,NaN,NaN,False,NaN,False,True,True,False
3,NaN,NaN,False,NaN,NaN,NaN,NaN,L5W 0E6,NaN,NaN,...,True,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,True
4,False,NaN,False,NaN,False,NaN,NaN,53704,NaN,NaN,...,True,NaN,NaN,NaN,False,NaN,False,True,True,False

In [23]:
biz.dtypes

Ambience.divey                        object
HairSpecializesIn.kids                object
RestaurantsDelivery                   object
Open24Hours                           object
Ambience.trendy                       object
DogsAllowed                           object
CoatCheck                             object
postal_code                           object
Smoking                               object
DietaryRestrictions.halal             object
HairSpecializesIn.straightperms       object
city                                  object
HairSpecializesIn.curly               object
Music.no_music                        object
HairSpecializesIn.coloring            object
GoodForKids                           object
BestNights.sunday                     object
BYOB                                  object
Ambience.casual                       object
AgesAllowed                           object
HairSpecializesIn.africanamerican     object
stars                                float64
latitude                             float64
Alcohol                               object
RestaurantsPriceRange2               float64
Ambience.classy                       object
RestaurantsTableService               object
GoodForMeal.latenight                 object
DietaryRestrictions.kosher            object
GoodForMeal.dessert                   object
                                      ...
HairSpecializesIn.perms               object
HairSpecializesIn.extensions          object
BestNights.saturday                   object
state                                 object
BestNights.thursday                   object
BusinessParking.lot                   object
DriveThru                             object
HasTV                                 object
BestNights.monday                     object
GoodForMeal.dinner                    object
BYOBCorkage                           object
HairSpecializesIn.asian               object
business_id                           object
BusinessParking.street                object
RestaurantsAttire                     object
BestNights.tuesday                    object
GoodForDancing                        object
ByAppointmentOnly                     object
Caters                                object
AcceptsInsurance                      object
RestaurantsReservations               object
DietaryRestrictions.dairy-free        object
BestNights.wednesday                  object
DietaryRestrictions.vegan             object
Ambience.romantic                     object
Music.jukebox                         object
Ambience.upscale                      object
RestaurantsTakeOut                    object
BikeParking                           object
OutdoorSeating                        object
Length: 93, dtype: object

In [41]:
tips.columns = ['user_id', 'business_id', 'unidentifiedinfo_tips'] 
tips.head()
tips.user_id_new = ":dfa:sif:e"
tips.user_id.unique()
#tips['0'].unique()

<bound method Series.unique of 0         (---1lKK3aKOuomHnwAkAow
1         (---1lKK3aKOuomHnwAkAow
2         (---1lKK3aKOuomHnwAkAow
3         (---1lKK3aKOuomHnwAkAow
4         (---1lKK3aKOuomHnwAkAow
5         (---1lKK3aKOuomHnwAkAow
6         (---1lKK3aKOuomHnwAkAow
7         (---1lKK3aKOuomHnwAkAow
8         (---1lKK3aKOuomHnwAkAow
9         (--104qdWvE99vaoIsj9ZJQ
10        (--2HUmLkcNHZp0xw6AMBPg
11        (--2HUmLkcNHZp0xw6AMBPg
12        (--2HUmLkcNHZp0xw6AMBPg
13        (--2HUmLkcNHZp0xw6AMBPg
14        (--2HUmLkcNHZp0xw6AMBPg
15        (--2HUmLkcNHZp0xw6AMBPg
16        (--2HUmLkcNHZp0xw6AMBPg
17        (--2HUmLkcNHZp0xw6AMBPg
18        (--2HUmLkcNHZp0xw6AMBPg
19        (--2HUmLkcNHZp0xw6AMBPg
20        (--2HUmLkcNHZp0xw6AMBPg
21        (--2HUmLkcNHZp0xw6AMBPg
22        (--2HUmLkcNHZp0xw6AMBPg
23        (--2HUmLkcNHZp0xw6AMBPg
24        (--2HUmLkcNHZp0xw6AMBPg
25        (--2HUmLkcNHZp0xw6AMBPg
26        (--2HUmLkcNHZp0xw6AMBPg
27        (--2HUmLkcNHZp0xw6AMBPg
28        (--2HUmLkcNHZp0xw6AMBPg
29        (--2HUmLkcNHZp0xw6AMBPg
                   ...
558949    (zza-gQ2jzjAAJkalUHuO6Q
558950    (zza-gQ2jzjAAJkalUHuO6Q
558951    (zza-gQ2jzjAAJkalUHuO6Q
558952    (zza-gQ2jzjAAJkalUHuO6Q
558953    (zza-gQ2jzjAAJkalUHuO6Q
558954    (zza-gQ2jzjAAJkalUHuO6Q
558955    (zza-gQ2jzjAAJkalUHuO6Q
558956    (zza-gQ2jzjAAJkalUHuO6Q
558957    (zza0_wCO1Q4bw0ZBtXnlsQ
558958    (zzanZzhoA3wufshSrE5Q-g
558959    (zzbLAhBKT8xEZWWaIuG0vQ
558960    (zzct9KyC476L0uVUcWNq_A
558961    (zzjIDvHGrYt2KK68Ip8zuw
558962    (zzjIDvHGrYt2KK68Ip8zuw
558963    (zzjgNzmsxCGlrMCNoPge5Q
558964    (zzkTUnua51enVp7OrWBwNg
558965    (zzl-tFvUV6NBzuhI3Nxrjg
558966    (zznZTSALzMXf3cjggfNdBQ
558967    (zznZTSALzMXf3cjggfNdBQ
558968    (zznZTSALzMXf3cjggfNdBQ
558969    (zznZTSALzMXf3cjggfNdBQ
558970    (zznZTSALzMXf3cjggfNdBQ
558971    (zzpbqXAEAsoSToIDerh15g
558972    (zzqKFafizTSmzY6v2rzhcg
558973    (zzrwygYbYs-NgFEe-YJwhg
558974    (zzrwygYbYs-NgFEe-YJwhg
558975    (zzvm_VD3HjU6RMx8zq7g1g
558976    (zzvm_VD3HjU6RMx8zq7g1g
558977    (zzyMMeUZzKAy7KQhM7lU2w
558978    (zzyzP--p98zZtx359NvgGA
Name: user_id, Length: 558979, dtype: object>

In [ ]:
"""
Based on this knowledge, the following EDA steps may be necessary:

1. Label column headers - 
    a. Check-ins: User_ID, # of Check-ins
    b. Photos: User_ID, # of Photos
    c. Review: Business_ID?, User_ID?, Stars, Date (of the review?)
    d. Biz: Use column headers from dataset
    e. Tips: Business_ID, User_ID, # of tips?
    
    Questions that arise:
    - We have a wide range in the number of records across sets. Is it because 
    of the number of businesses, number of users, or both? We should confirm
    the population of each set and make sure we're clear on that in this EDA.
    
2. Merge variables as needed - 
    a. It may be easiest to work with one large dataset that is at the user-level
    that contains all of the information that we need. If so, the following pieces
    may be necessary:
    b. Determine what level we should be working at - user, review, or business
        i. Seems like we should be at the user-level, in which case, will we have 
        multiple duplicates for the users depending on how many reviews we have?
    c. Merge depending on level determined.
    
    Questions that arise:
    - 
    
3. Basic cleaning - 
    a. Do we have duplicates in any of these datasets? If so, why?
    b. Missing values - 
        i. Due to that merging, we should have missing values in some users
        ii. Figure out a strategy for dealing with those missing values. 
    
4. Do basic EDA - 

    a. How many unique users? Businesses? Reviews? 
    b. User behavior - 
        i. What do the most and least active users look like? Are they enthusiastic?
            Do they travel? 
        ii. Do a user's reviews tend to favor a particular style of restaurant 
            (is there a clustering of taste inherent in the data already)?
        iii. What do reviews look like? Are there certain variables that are 
            are always missing? 
    
    Questions that arise:
        - Do we have enough information about folks to adequately make these predictions?
            What else might we need to impute?